<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Product Edit Form</h2>
    <form action="/products/<%= product._id %>/save" method="POST">
        <p><input type="text" name="name" value="<%= product.name %>"></p>
        <p><input type="number" name="price" value="<%= product.price %>"></p>
        <p><input type="text" name="desc" value="<%= product.desc %>"></p>
        <p><input type="text" name="imageUrl"  value="<%= product.imageUrl %>"></p>
        <p><button>Save</button></p>
    </form>
</body>
</html>